@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%)

  }
  

  .custom-bg {
    background: rgb(196, 196, 196);
  }

  .custom-bg-line {
    border-top: 16px solid rgba(2, 6, 12, 0.05)
  }